body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
}

header{
  background-color: rgb(0, 166, 255);
}
.profile-pic-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  color: white;
  margin-top: -10px;
}
.profile-pic{
  max-width: 300px;
  padding: 35px;
}

.logo-section img{
  width: 20px;
}

.github-logo{
  max-width: 20px;
}

.link-logo{
  max-width: 20px;
  height: 25px;
  margin-top: 17px;
  
}

.profile-intro-container{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.link-section{
  display: flex;
  flex-direction: row;
}
.main-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 200px;
}
.projects-grid{
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.project-container{
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  min-width: 300px;
 
}

.screenshot{
  background-color: blue;
  padding-top: 110px;
 
}
.description{
  background-color: white;
}

.project-container div p{
  padding-bottom: 70px;
}
.project-info{
  display: flex;
  flex-direction: row;
  gap: 20px;

}

.contact-section{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.contact{
  padding-top: 70px;
  max-width: 100%;
}

footer{
  display: flex;
  background-color: rgb(0, 166, 255);
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

h4{
  font-size: 40px;

}

.contact-description{
  padding-left: 14px;
  
}

@media (min-width: 768px) {
  header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(0, 166, 255);
  }

  .profile-pic{
    max-width: 400px;
  
  }

  .profile-intro-container{
    padding-left: 50px;
  }
 
  .projects-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

  }
  
  .contact{
    max-width: 200px;
    padding-top: 0px;
  }
  
  footer{
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 40px 0px 100px 0px;
   
  }

  .contact-section{
    display: flex;
    flex-direction: column;
    text-align: start;
  }

  .contact-section p{
    padding: 0px;
  }
}

@media (min-width: 1000px) {
  header{
    gap: 180px;
  }

  .profile-pic{
    max-width: 700px;
    margin-left: 100px;
  }

 .projects-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;

  }


  footer{
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding: 40px 0px 100px 0px;
    
  }

  
  .contact{
    max-width: 400px;
  }

  .project-container{
    min-width: 400px;
  }

  .screenshot{
    padding: 100px;
  }
}